
<hr/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Registration
        </div>
        <div class="panel-body">
            <form #form="ngForm" (submit)="submitForm(form)">
                <div class="form-group col-md-8"
                [class.has-error]="firstname.invalid  && firstname.touched"
                [class.has-success]="firstname.valid">

                    <label class="control-label" for="fname">First Name</label>
                    <input id="fname" class="form-control"
                    name="firstname"
                    [(ngModel)]="myUser.firstname"
                    #firstname="ngModel"
                    required
                    />
                    <div class="alert alert-danger" *ngIf="firstname.invalid && firstname.touched">
                        FirstName is required
                    </div>
                </div>
               
                <div class="form-group col-md-8"
                [class.has-error]="lastname.invalid  && lastname.touched"
                [class.has-success]="lastname.valid">

                    <label class="control-label" for="lname">Last Name</label>
                    <input id="lname" class="form-control"
                    name="lastname"
                    [(ngModel)]="myUser.lastname"
                    #lastname="ngModel"
                    required
                    />
                    <div class="alert alert-danger" *ngIf="lastname.invalid && lastname.touched">
                        LastName is required
                    </div>
                </div>
                
                <div class="form-group col-md-8"
                    [class.has-error]="mail.invalid  && mail.dirty">
                        <label class="control-label" for="email">Email</label>
                        <input id="email" class="form-control" name="email"
                        [(ngModel)]="myUser.email"
                        pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})$"
                        #mail="ngModel"/>
                        <div class="alert alert-danger" *ngIf="mail.invalid && mail.dirty">
                            Please enter valid email
                        </div>
                    </div>                    
                    <div class="form-group col-md-8"
                    [class.has-error]="password.invalid  && password.dirty">
                        <label class="control-label" for="password">Password</label>
                        <input id="password" class="form-control" name="password"
                        [(ngModel)]="myUser.password"
                        minlength="8"
                        #password="ngModel"/>
                        <div class="alert alert-danger" *ngIf="password.invalid && password.dirty">
                           Min Length of password is 8
                        </div>
                    </div> 
                    <div class="form-group col-md-8" hidden>
                        <label class="control-label" for="DOB">DOB</label>
                        <input id="DOB" class="form-control" name="DOB"
                        [(ngModel)]="myUser.DOB"                      
                        #DOB="ngModel"/>                        
                    </div> 
                    <div class="form-group col-md-8" hidden>
                        <label class="control-label" for="gender">Gender</label>
                        <input id="gender" class="form-control" name="gender"
                        [(ngModel)]="myUser.gender"                       
                        #gender="ngModel"/>                        
                    </div>  
                    <div class="form-group col-md-8" hidden>
                        <label class="control-label" for="role">Role</label>
                        <input id="role" class="form-control" name="role"
                        [(ngModel)]="myUser.role"                       
                        #Role="ngModel"/>                        
                    </div>  
                    <div class="form-group col-md-8" hidden>
                        <label class="control-label" for="Image">Image</label>
                        <input id="Image" class="form-control" name="Image"
                        [(ngModel)]="myUser.image"                       
                        #Role="ngModel"/>                        
                    </div>         
                <br/>
            <div class="form-group col-md-8">  
                <div class="col-md-4">           
                    <button class="btn btn-success" (click)="GotoLoginPage()">
                        Login
                    </button>
                </div>   
                <div class="col-md-4 col-md-offset-4">  
                    <button class="btn btn-success" type="submit">
                        Register
                    </button>
              </div>
            </div>
                <div class="alert alert-danger " *ngIf="registerErrorMsg">
                    {{registerErrorMsg}}
                </div>               
                
            </form>
        </div>
    </div>
</div>