
<hr/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Forgot Password
        </div>
        <div class="panel-body">
            <form #form="ngForm" (submit)="submitForm(form)">             
                
                <div class="form-group col-md-8"
                    [class.has-error]="email.invalid  && email.dirty">
                        <label class="control-label" for="email">Email</label>
                        <input id="email" class="form-control" name="email"
                        [(ngModel)]="ForgotPassword.Email"
                        pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})$"
                        #email="ngModel"/>
                        <div class="alert alert-danger" *ngIf="email.invalid && email.dirty">
                            Please enter valid email
                        </div>
                    </div>
                    <div class="row" class="form-group col-md-8">
                        <div   [class.has-error]="dob.invalid  && dob.dirty" >
                            <label class="form-label" for="dob" >DOB</label>
                            <input type="date" id="dob" name="dob" class="form-control"
                            #dob="ngModel"
                            [(ngModel)]="ForgotPassword.DOB"
                            required
                            pattern=^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
                              />
                              <div class="alert alert-danger" *ngIf="dob.invalid && (dob.dirty || dob.touched)">
                                <div  *ngIf="dob.errors?.['required']">
                                    Date of Birth is required  
                                </div>
                                <div *ngIf="dob.errors?.['pattern']">
                                    Date of Birth must be a valid date in the format MM-DD-YYYY 
                                </div>
                            </div>                              
                        </div>
                    </div>                    
                           
                <br/>
            <div class="form-group col-md-8">                  
                <div class="col-md-4 col-md-offset-4">  
                    <button class="btn btn-success" type="submit">
                        GO
                    </button>
              </div>
            </div>
                <div class="alert alert-danger " *ngIf="forgotPasswordMessage">
                    {{forgotPasswordMessage}}
                </div>               
                
            </form>
        </div>
    </div>
</div>