
<hr/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Reset Password
        </div>
        <div class="panel-body">
            <form #form="ngForm" (submit)="submitForm(form)">             
                   
                    <div class="form-group col-md-8"
                    [class.has-error]="newpassword.invalid  && newpassword.dirty">
                        <label class="control-label" for="newpassword">New Password</label>
                        <input id="newpassword" class="form-control" name="newpassword"
                        [(ngModel)]="resetPassword.NewPassword"
                       required
                        #newpassword="ngModel"/>
                        <div class="alert alert-danger" *ngIf="newpassword.invalid && newpassword.dirty">
                           New Password field is required
                        </div>
                    </div>  
                    <div class="form-group col-md-8"
                    [class.has-error]="confirmpassword.invalid  && confirmpassword.dirty">
                        <label class="control-label" for="pass">Confirm Password</label>
                        <input id="confirmpassword" class="form-control" name="confirmpassword"
                        [(ngModel)]="resetPassword.ConfirmPassword"
                        required
                        #confirmpassword="ngModel"/>
                        <div class="alert alert-danger" *ngIf="confirmpassword.invalid && confirmpassword.dirty">
                           Confirm Password field is required
                        </div>
                    </div>          
                <br/>
            <div class="form-group col-md-8">                    
                <div class="col-md-4 col-md-offset-4">  
                    <button class="btn btn-success" type="submit">
                        RESET
                    </button>
              </div>
            </div>
                <div class="alert alert-danger " *ngIf="resetErrorMessage">
                    {{resetErrorMessage}}
                </div>               
                
            </form>
        </div>
    </div>
</div>